In [ ]:
import requests
import json
openrouter_key='Bearer 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'
response = requests.post(
  url="https://openrouter.ai/api/v1/chat/completions",
  headers={
    "Authorization": f"{openrouter_key}",
    "Content-Type": "application/json",
  },
  data=json.dumps({
    "model": "deepseek/deepseek-chat-v3.1:free",
    "messages": [
      {
        "role": "user",
        "content": "What is the meaning of life?用中文回答"
      }
    ],
    
  })
)

In [7]:
response.json()["choices"][0]["message"]["content"]

'关于“生命的意义”这一永恒问题，不同文化和思想流派有着不同的解读，以下是一些常见的视角：\n\n1. **哲学视角**  \n   存在主义（如萨特）认为生命本无预设意义，意义由每个人通过选择与行动主动创造；儒家思想强调“修身齐家治国平天下”，在伦理关系中实现价值；道家则主张顺应自然，追求“天人合一”的和谐。\n\n2. **科学视角**  \n   进化生物学指出生命是自然演化的结果，意义或许在于基因的延续与物种的生存；物理学角度中，人类可能是宇宙感知自身的媒介，赋予存在以主观意义。\n\n3. **精神视角**  \n   佛教认为生命意义在于脱离轮回之苦，通过修行达到涅槃；基督教强调与上帝联结，践行爱与救赎；世俗人文主义则关注人类整体的福祉与进步。\n\n4. **个人视角**  \n   许多人从爱、创造、知识追求、幸福体验或为他人奉献中找到意义——如维克多·弗兰克尔在《活出生命的意义》中提出的：意义可在任何境遇中被发现，且因人而异。\n\n**最终，答案或许不在某个终点，而在于我们如何赋予过程以价值**——就像有人通过艺术表达存在，有人通过科学探索真理，有人通过平凡生活中的连接与温暖确证意义。这是一个需要每个人用一生去探索的开放性问题。'

In [10]:
import requests
import json
openrouter_key='Bearer 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'
response = requests.get(
  url="https://openrouter.ai/api/v1/key",
  headers={
    "Authorization": f"{openrouter_key}"
  }
)
print(json.dumps(response.json(), indent=2))

{
  "data": {
    "label": "sk-or-v1-efb...b65",
    "limit": null,
    "usage": 0,
    "is_provisioning_key": false,
    "limit_remaining": null,
    "is_free_tier": false,
    "rate_limit": {
      "requests": -1,
      "interval": "10s",
      "note": "This field is deprecated and safe to ignore."
    }
  }
}

In [4]:
import pandas as pd 
df=pd.read_parquet(r'D:\projects\q\data\minute_data\000002\2025-09.parquet')

In [5]:
df

                    date  open  high   low  close   volume
0    2025-09-03 13:53:00  6.60  6.60  6.59   6.60   224300
1    2025-09-03 13:54:00  6.60  6.60  6.59   6.60   695600
2    2025-09-03 13:55:00  6.60  6.61  6.60   6.61   339600
3    2025-09-03 13:56:00  6.61  6.61  6.60   6.61   406800
4    2025-09-03 13:57:00  6.61  6.61  6.59   6.60   446900
...                  ...   ...   ...   ...    ...      ...
1965 2025-09-15 14:54:00   NaN   NaN   NaN    NaN   649200
1966 2025-09-15 14:55:00   NaN   NaN   NaN    NaN  1186100
1967 2025-09-15 14:56:00   NaN   NaN   NaN    NaN  2255700
1968 2025-09-15 14:57:00   NaN   NaN   NaN    NaN  2261800
1969 2025-09-15 15:00:00   NaN   NaN   NaN    NaN  2333599

[1970 rows x 6 columns]